---
import Logo from "../logo";

const socials = {
  twitter: "https://twitter.com/axelar",
  instagram: "https://t.me/axelarcommunity",
  discord: "https://discord.com/invite/axelar-network",
  facebook: "https://twitter.com/axelar",
};

const links = [
  {
    title: "Learn",
    items: [
      {
        title: "Website",
        href: "https://axelar.network",
      },
      {
        title: "Whitepaper",
        href: "https://axelar.network/wp-content/uploads/2021/07/axelar_whitepaper.pdf",
      },
      {
        title: "Developer Blog",
        href: "https://blog.axelar.dev",
      },
      {
        title: "Github",
        href: "https://github.com/axelarnetwork",
      },
      {
        title: "Support",
        href: "https://github.com/axelarnetwork/support/",
      },
    ],
  },
  {
    title: "Community",
    items: [
      {
        title: "X (Twitter)",
        href: "https://twitter.com/axelar",
      },
      {
        title: "Discord",
        href: "https://discord.gg/aRZ3Ra6f7D",
      },
      {
        title: "Telegram",
        href: "https://t.me/axelarcommunity",
      },
      {
        title: "Discussion",
        href: "https://community.axelar.network/",
      },
    ],
  },
  {
    title: "Others",
    items: [
      {
        title: "Developer Newsletter",
        href: "https://dashboard.mailerlite.com/forms/215012/95435869033334492/share",
      },
      {
        title: "Bug Bounty",
        href: "/resources/bug-bounty/",
      },
      {
        title: "Blog",
        href: "https://axelar.network/blog",
      },
      {
        title: "Terms of Use",
        href: "/terms-of-use/",
      },
    ],
  },
];
---

<footer class="border-t border-border bg-background-neutral">
  <div
    class="flex flex-col md:flex-row justify-between gap-10 md:gap-6 sub-container py-16"
  >
    <div class="flex flex-col gap-6">
      <div class="flex flex-col gap-3">
        <Logo
          client:load
          className="-ml-1.5 md:ml-0 w-[140px] md:w-[170px] h-[30px] md:h-[40px] md:mt-[-5px]"
        />
        <p class="text-sm font-medium">
          Empowering developers to build scalable,<br /> interchain dApps
        </p>
      </div>
      <div class="flex gap-3.5">
        <a href={socials?.discord} target="_blank" rel="noreferrer">
          <svg
            width="27"
            height="27"
            viewBox="0 0 27 27"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M20.7128 6.51707C19.3197 5.87783 17.8257 5.40686 16.2637 5.13712C16.2352 5.13191 16.2068 5.14492 16.1922 5.17094C16 5.51267 15.7872 5.95849 15.6382 6.30889C13.9581 6.05737 12.2867 6.05737 10.6411 6.30889C10.492 5.9507 10.2714 5.51267 10.0784 5.17094C10.0638 5.14579 10.0354 5.13278 10.0069 5.13712C8.44576 5.406 6.9518 5.87696 5.55778 6.51707C5.54571 6.52227 5.53536 6.53095 5.5285 6.54222C2.69477 10.7757 1.9185 14.9052 2.29931 18.9835C2.30104 19.0034 2.31224 19.0225 2.32775 19.0346C4.19736 20.4076 6.00839 21.2412 7.7858 21.7937C7.81425 21.8024 7.84439 21.7919 7.86249 21.7685C8.28293 21.1944 8.65772 20.5889 8.97907 19.9523C8.99803 19.915 8.97993 19.8708 8.94117 19.856C8.34669 19.6305 7.78063 19.3556 7.23611 19.0433C7.19304 19.0182 7.1896 18.9566 7.22922 18.9271C7.3438 18.8412 7.45842 18.7519 7.56783 18.6617C7.58763 18.6452 7.61521 18.6417 7.63849 18.6521C11.2157 20.2854 15.0885 20.2854 18.6235 18.6521C18.6468 18.6409 18.6744 18.6443 18.695 18.6608C18.8045 18.751 18.919 18.8412 19.0345 18.9271C19.0741 18.9566 19.0715 19.0182 19.0285 19.0433C18.4839 19.3616 17.9179 19.6305 17.3225 19.8552C17.2838 19.8699 17.2665 19.915 17.2855 19.9523C17.6137 20.5881 17.9885 21.1935 18.4012 21.7677C18.4185 21.7919 18.4495 21.8024 18.4779 21.7937C20.2639 21.2412 22.075 20.4076 23.9446 19.0346C23.961 19.0225 23.9713 19.0043 23.973 18.9843C24.4288 14.2694 23.2096 10.1738 20.7412 6.54308C20.7352 6.53095 20.7249 6.52227 20.7128 6.51707ZM9.51327 16.5002C8.43628 16.5002 7.54887 15.5115 7.54887 14.2972C7.54887 13.0829 8.41907 12.0941 9.51327 12.0941C10.6161 12.0941 11.4949 13.0916 11.4776 14.2972C11.4776 15.5115 10.6074 16.5002 9.51327 16.5002ZM16.7763 16.5002C15.6993 16.5002 14.8119 15.5115 14.8119 14.2972C14.8119 13.0829 15.6821 12.0941 16.7763 12.0941C17.8791 12.0941 18.7579 13.0916 18.7407 14.2972C18.7407 15.5115 17.8791 16.5002 16.7763 16.5002Z"
              fill="currentColor"></path>
          </svg>
        </a>
        <a href={socials?.instagram} target="_blank" rel="noreferrer">
          <svg
            width="27"
            height="27"
            viewBox="0 0 27 27"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M13.8635 3.63037C11.192 3.63037 10.8576 3.64152 9.80839 3.68939C8.76116 3.73726 8.04575 3.90382 7.42017 4.1471C6.76442 4.39366 6.16966 4.78055 5.67785 5.28154C5.17766 5.77278 4.79054 6.36712 4.54341 7.02319C4.30144 7.64877 4.13423 8.36485 4.08636 9.41207C4.03915 10.4606 4.02734 10.7944 4.02734 13.4665C4.02734 16.1387 4.03849 16.4725 4.08636 17.5217C4.13423 18.5689 4.30079 19.2843 4.54407 19.9099C4.79063 20.5656 5.17752 21.1604 5.67851 21.6522C6.16976 22.1524 6.7641 22.5395 7.42017 22.7866C8.04575 23.0293 8.76116 23.1958 9.80839 23.2437C10.8576 23.2916 11.192 23.3027 13.8635 23.3027C16.535 23.3027 16.8694 23.2916 17.9186 23.2437C18.9659 23.1958 19.6813 23.0293 20.3069 22.786C20.9626 22.5394 21.5574 22.1525 22.0492 21.6515C22.5494 21.1603 22.9365 20.566 23.1836 19.9099C23.4262 19.2843 23.5928 18.5689 23.6407 17.5217C23.6885 16.4725 23.6997 16.138 23.6997 13.4665C23.6997 10.795 23.6885 10.4606 23.6407 9.41141C23.5928 8.36419 23.4262 7.64877 23.183 7.02319C22.936 6.36683 22.5489 5.77224 22.0485 5.28088C21.5573 4.78069 20.9629 4.39356 20.3069 4.14644C19.6813 3.90447 18.9652 3.73726 17.918 3.68939C16.8694 3.64217 16.5357 3.63037 13.8635 3.63037ZM13.8635 5.40285C16.4898 5.40285 16.8012 5.41268 17.8386 5.4599C18.7973 5.50383 19.318 5.66318 19.6649 5.79892C20.1239 5.97662 20.4518 6.1904 20.796 6.53401C21.1403 6.87827 21.3534 7.20615 21.5311 7.66517C21.6662 8.01206 21.8262 8.53272 21.8702 9.49142C21.9174 10.5288 21.9272 10.8403 21.9272 13.4665C21.9272 16.0928 21.9174 16.4043 21.8702 17.4417C21.8262 18.4004 21.6669 18.921 21.5311 19.2679C21.3737 19.6952 21.1225 20.0817 20.796 20.3991C20.4787 20.7256 20.0922 20.9768 19.6649 21.1342C19.318 21.2692 18.7973 21.4292 17.8386 21.4732C16.8012 21.5204 16.4904 21.5302 13.8635 21.5302C11.2366 21.5302 10.9258 21.5204 9.88839 21.4732C8.92969 21.4292 8.40903 21.2699 8.06214 21.1342C7.63489 20.9767 7.24836 20.7255 6.93098 20.3991C6.60454 20.0817 6.35335 19.6951 6.19589 19.2679C6.06081 18.921 5.90081 18.4004 5.85687 17.4417C5.80966 16.4043 5.79982 16.0928 5.79982 13.4665C5.79982 10.8403 5.80966 10.5288 5.85687 9.49142C5.90081 8.53272 6.06015 8.01206 6.19589 7.66517C6.3736 7.20615 6.58737 6.87827 6.93098 6.53401C7.24832 6.20748 7.63486 5.95628 8.06214 5.79892C8.40903 5.66383 8.92969 5.50383 9.88839 5.4599C10.9258 5.41268 11.2373 5.40285 13.8635 5.40285Z"
              fill="currentColor"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M13.8644 16.7485C13.4334 16.7485 13.0066 16.6636 12.6084 16.4986C12.2102 16.3337 11.8484 16.092 11.5437 15.7872C11.2389 15.4824 10.9971 15.1206 10.8322 14.7224C10.6673 14.3242 10.5824 13.8975 10.5824 13.4665C10.5824 13.0355 10.6673 12.6087 10.8322 12.2105C10.9971 11.8123 11.2389 11.4505 11.5437 11.1457C11.8484 10.841 12.2102 10.5992 12.6084 10.4343C13.0066 10.2694 13.4334 10.1845 13.8644 10.1845C14.7348 10.1845 15.5696 10.5302 16.1851 11.1457C16.8006 11.7612 17.1464 12.596 17.1464 13.4665C17.1464 14.3369 16.8006 15.1717 16.1851 15.7872C15.5696 16.4027 14.7348 16.7485 13.8644 16.7485ZM13.8644 8.41068C12.5235 8.41068 11.2375 8.94334 10.2894 9.89148C9.34126 10.8396 8.80859 12.1256 8.80859 13.4665C8.80859 14.8073 9.34126 16.0933 10.2894 17.0415C11.2375 17.9896 12.5235 18.5223 13.8644 18.5223C15.2053 18.5223 16.4912 17.9896 17.4394 17.0415C18.3875 16.0933 18.9202 14.8073 18.9202 13.4665C18.9202 12.1256 18.3875 10.8396 17.4394 9.89148C16.4912 8.94334 15.2053 8.41068 13.8644 8.41068ZM20.391 8.31887C20.391 8.63583 20.2651 8.93981 20.041 9.16393C19.8168 9.38806 19.5129 9.51397 19.1959 9.51397C18.879 9.51397 18.575 9.38806 18.3509 9.16393C18.1267 8.93981 18.0008 8.63583 18.0008 8.31887C18.0008 8.00192 18.1267 7.69794 18.3509 7.47381C18.575 7.24969 18.879 7.12378 19.1959 7.12378C19.5129 7.12378 19.8168 7.24969 20.041 7.47381C20.2651 7.69794 20.391 8.00192 20.391 8.31887Z"
              fill="currentColor"></path>
          </svg>
        </a>
        <a href={socials?.facebook} target="_blank" rel="noreferrer">
          <svg
            width="27"
            height="27"
            viewBox="0 0 27 27"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M24.5173 13.5327C24.5173 7.45981 19.6247 2.53735 13.5883 2.53735C7.55176 2.53735 2.65918 7.45981 2.65918 13.5327C2.65918 19.022 6.65485 23.5707 11.8804 24.3955V16.7116H9.10588V13.532H11.8804V11.1101C11.8804 8.35454 13.5118 6.83175 16.0087 6.83175C17.2036 6.83175 18.4553 7.04669 18.4553 7.04669V9.75273H17.0761C15.7187 9.75273 15.2961 10.6008 15.2961 11.4708V13.5327H18.3271L17.8426 16.7109H15.2961V24.3955C20.5217 23.5707 24.5173 19.022 24.5173 13.5327Z"
              fill="currentColor"></path>
          </svg>
        </a>
        <a href={socials?.twitter} target="_blank" rel="noreferrer">
          <svg
            width="27"
            height="27"
            viewBox="0 0 27 27"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M22.0052 9.00753C22.0185 9.20022 22.0185 9.39292 22.0185 9.58739C22.0185 15.513 17.5074 22.3471 9.25878 22.3471V22.3435C6.82211 22.3471 4.43605 21.6491 2.38477 20.3331C2.73908 20.3757 3.09517 20.397 3.45214 20.3979C5.47146 20.3997 7.43305 19.7221 9.02169 18.4745C7.10272 18.4381 5.41995 17.1869 4.8321 15.3603C5.50431 15.4899 6.19695 15.4633 6.85674 15.283C4.76461 14.8603 3.25945 13.0222 3.25945 10.8874C3.25945 10.8679 3.25945 10.8492 3.25945 10.8306C3.88282 11.1778 4.58079 11.3705 5.29475 11.3918C3.32427 10.0749 2.71688 7.45353 3.9068 5.40402C6.18363 8.20566 9.54294 9.90885 13.1491 10.0891C12.7877 8.53156 13.2814 6.89941 14.4465 5.80451C16.2527 4.10665 19.0934 4.19367 20.7913 5.99898C21.7956 5.80096 22.7582 5.43244 23.6391 4.91029C23.3043 5.94836 22.6037 6.83015 21.6677 7.39048C22.5566 7.28569 23.4251 7.04771 24.2429 6.68452C23.6409 7.58673 22.8825 8.37261 22.0052 9.00753Z"
              fill="currentColor"></path>
          </svg>
        </a>
      </div>
    </div>
    <div class="grid grid-cols-2 md:flex gap-x-6 gap-y-10 md:gap-14">
      {
        links.map((link) => (
          <div class="flex flex-col gap-4">
            <p class=" uppercase  font-semibold ">{link.title}</p>
            <ul class="flex flex-col gap-1">
              {link?.items.map((item) => (
                <li>
                  <a
                    target={
                      item?.href?.includes("https://") ? "_blank" : "_self"
                    }
                    class="text-sm text-foreground hover:text-primary"
                    href={item.href}
                  >
                    {item.title}
                  </a>
                </li>
              ))}
            </ul>
          </div>
        ))
      }
    </div>
  </div>
  <div class="py-2 text-white bg-gray-dark text-xs">
    <div class="sub-container">
      © {new Date().getFullYear()} Axelar Foundation. All Rights Reserved.
    </div>
  </div>
</footer>
