---
import "../styles/main.scss";

const { title, description, image, hidden } = Astro.props.frontmatter || Astro.props;

const shownTitle = title ? title + ` | Axelar Documentation` : 'Axelar Documentation';
const shownDescription = description || 'The Axelar Documentation tells you how to get started and be successful using Axelar. Axelar allows developers to build interchain dApps that connect to any blockchain. ';
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-81ZT0BK1ZB"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-81ZT0BK1ZB');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="img/png" href="/images/favicon.png"/>
    <title>{shownTitle}</title>
    <meta content="shownTitle" property="og:title">
    <meta content="shownTitle" property="twitter:title">
    {shownDescription && 
      <meta content="{{shownDescription}}" name="description">
      <meta content="{{shownDescription}}" property="og:description">
      <meta content="{{shownDescription}}" property="twitter:description">
    }
    
    

    {image &&
      <meta content="{image}}" property="og:image">
      <meta content="{image}}" property="twitter:image">
    }

    <meta content="website" property="og:type">
    <meta content="summary_large_image" name="twitter:card">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    {hidden &&
      <!-- Allow hidden content -->
      <meta content="noindex" name="robots"/>
    }
    <link rel="stylesheet" href="/styles/prism.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@8.0.0/themes/reset-min.css" integrity="sha256-2AeJLzExpZvqLUxMfcs+4DWcMwNfpnjUeAAvEtPr0wU=" crossorigin="anonymous">


    <script src="/src/scripts/index.ts"></script>
  </head>
  <body>
    <nav style="display:flex;">
      <a href="/" style="color:black;background-color:transparent;text-decoration:none;font-size:34px;font-weight:bold;font-family:sans-serif"><img src="/images/Axelar Logo Full Black@3x.png" alt="Axelar Logo" height="25" width="106" style="vertical-align:middle;margin-top:-5px"> Docs</a>
      <div class="nomobile desktop-nav">
        <a href="/dev/intro">Developers</a>
      <a href="/node/config-node">Node Operators</a>
      <a href="/validator/setup/overview">Validators</a>
      <!--<input type="search" placeholder="Search" id="search" spellcheck="false">-->
      <div id="search"></div>
      <a href="https://github.com/axelarnetwork/axelar-docs" aria-label="Axelar on GitHub">
        <svg style="vertical-align: middle;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg>
      </a>
      </div>
      <div class="mobile" id="menu">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="32" height="32"><title>menu</title><path d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" /></svg>
      </div>
    </nav>
    <div id="search-results"></div>
    <main>
      <slot/>
    </main>
    <footer><div class="columns">
      <div style="width:280px">
        <img src="/images/Axelar Logo Full Black@3x.png" alt="Axelar Logo" width="254" height="60"><br/>
          Empowering developers to build scalable, interchain dApps
      </div>
      <div>
        <strong>Learn</strong><br/>
        <div>Website</div>
        <div>Whitepaper</div>
        <div>Blog</div>
        <div>Github</div>
      </div>
      <div>
        <strong>Community</strong><br/>

        <div>Twitter</div>
        <div>Discord</div>
        <div>Telegram</div>
        <div>Discussion</div>
      </div>
      <div>
        <strong>Others</strong><br/>
        <div>Bug Bounty</div>
        <div>Terms of Use</div>
      </div>
      </div>
<div style="text-align:center;font-weight:bold;">&copy; 2023 Axelar Network. All Rights Reserved.</div>
    </footer>
    

  </body>
</html>