---
import { getNavigation } from "./navigation.ts";

const section = Astro.url.pathname?.match(/\/([^\/]*)\//)?.[1];
const navigation = getNavigation(section);
// #TODO rewrite this more functionally
// Right now it supports 2 layers of nesting via nested ifs
// Due to limitations in Astro template syntax
---

<div class="mobile nav-header">
  <a href="/dev/intro">Developers</a>
  <a href="/node/config-node">Node Operators</a>
  <a href="/validator/setup/overview">Validators</a>
  <hr />
</div>

{
  navigation.map((section) => (
    <div>
      <div class="nav-header">{section.header}</div>
      {section.children.map((item) =>
        item.children ? (
            <div class="nav-group-header">
              <span>{item.title}</span>
              <span><svg aria-hidden="true" class="" width="32" height="32" viewBox="0 0 24 24" fill="currentColor" style="--sl-icon-size: 1.25rem;"><path d="m14.83 11.29-4.24-4.24a1 1 0 1 0-1.42 1.41L12.71 12l-3.54 3.54a1 1 0 0 0 0 1.41 1 1 0 0 0 .71.29 1 1 0 0 0 .71-.29l4.24-4.24a1.002 1.002 0 0 0 0-1.42Z"></path></svg></span>
            </div>
            <div class="group">
              {item.children.map((child) =>
                child.children ? (
                  <div class="nav-group-header">
                    <span>{child.title}</span>
                      <span><svg aria-hidden="true" class="" width="32" height="32" viewBox="0 0 24 24" fill="currentColor" style="--sl-icon-size: 1.25rem;"><path d="m14.83 11.29-4.24-4.24a1 1 0 1 0-1.42 1.41L12.71 12l-3.54 3.54a1 1 0 0 0 0 1.41 1 1 0 0 0 .71.29 1 1 0 0 0 .71-.29l4.24-4.24a1.002 1.002 0 0 0 0-1.42Z"></path></svg></span>
                  </div>
                    <div class="group">
                      {child.children.map((grandchild) => (
                        grandchild.children ? (
                          <div class="nav-group-header">
                            <span>{grandchild.title}</span>
                            <span><svg aria-hidden="true" class="" width="32" height="32" viewBox="0 0 24 24" fill="currentColor" style="--sl-icon-size: 1.25rem;"><path d="m14.83 11.29-4.24-4.24a1 1 0 1 0-1.42 1.41L12.71 12l-3.54 3.54a1 1 0 0 0 0 1.41 1 1 0 0 0 .71.29 1 1 0 0 0 .71-.29l4.24-4.24a1.002 1.002 0 0 0 0-1.42Z"></path></svg></span>
                          </div>
                          <div class="group">
                            {grandchild.children.map((greatGrandchild) => (
                              <a href={greatGrandchild.href}>{greatGrandchild.title}</a>
                            ))}
                          </div>
                        ) : (
                          <a href={grandchild.href}>{grandchild.title}</a>
                        )
                      ))}
                    </div>
                ) : (
                  <a href={child.href}>{child.title}</a>
                )
              )}
                
              </div>
        ) : (
          <a href={item.href}>{item.title}</a>
        )
      )}
    </div>
  ))
}
