---
import { getNavigation } from "./navigation.ts";

const section = Astro.url.pathname?.match(/\/([^\/]*)\//)?.[1];
const navigation = getNavigation(section);
// #TODO rewrite this more functionally
// Right now it supports 2 layers of nesting via nested ifs
// Due to limitations in Astro template syntax
---

<div class="mobile nav-header">
  <a href="/dev/intro">Developers</a>
  <a href="/node/config-node">Node Operators</a>
  <a href="/validator/setup/overview">Validators</a>
  <hr />
</div>

{
  navigation.map((section) => (
    <div>
      <div class="nav-header">{section.header}</div>
      {section.children.map((item) =>
        item.children ? (
            <span>{item.title}</span>
            <div class="group">
              {item.children.map((child) =>
                child.children ? (
                    <span>{child.title}</span>
                    <div class="group">
                      {child.children.map((grandchild) => (
                        <a href={grandchild.href}>{grandchild.title}</a>
                      ))}
                    </div>
                ) : (
                  <a href={child.href}>{child.title}</a>
                )
              )}
            </div>
        ) : (
          <a href={item.href}>{item.title}</a>
        )
      )}
    </div>
  ))
}
